
name: Cypress tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # runs tests every day at midnight UTC
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cypress tests
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          wait-on: 'http://localhost:3000'
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
